.videoCard {
  display: flex;
  flex-direction: column;
  width: 240px;
}
.videoCard__image {
  height: 138px;
}
.videoCard__info {
  display: flex;
  flex-direction: row;
}
.videoCard__info__left {
}
.videoCard__info__right {
}
